.featured__block {
    padding: 90px 0;
}

.our-bread__block {
    padding: 90px 0;
}

.our-bread__block .type__description {
    color: var(our-bread-text-description);
}

.featured__title {
    font-family: 'Prata', serif;
    font-size: 30px;
    font-weight: lighter; 
    text-align: center;
    padding-bottom: 50px;
}

.featured__types {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.featured__type {
    display:flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}

.type__image {
    width: 100%;
    object-fit: cover;
    background-color: transparent!important;
    aspect-ratio: 7/5.05;
    object-position: 50% 50%;
}

.type__title {
    font-family: 'Prata', serif;
    font-size: 22px;
    line-height: 1.3;
    font-weight: lighter; 
    color:var(--text-dark);
    padding: 20px 0 20px 0;
}

.type__description {
    font-family: 'Lato', sans-serif;
    color: var(--text-description-accent); 
    font-size: 17px;
    line-height: 1.5;
    text-align: justify;
    hyphens: auto;
}

@media (min-width: 768px) {
    .featured__block {
        padding: 90px 0 95px;
    }
    .featured__title {
        font-size: 33px;
    }

    .our-bread__block {
        padding: 90px 0 95px;
    }
    
    .featured__types {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 992px) {
    .featured__block {
        padding: 90px 0 100px;
    }

    .featured__title {
        font-size: 36px;
    }

    .our-bread__block {
        padding: 90px 0 100px;
    }
    
    .featured__types {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
