.header__banner-wrapper {
    background-image: linear-gradient(90deg, rgb(15,16,17) 0%, rgb(15,16,17, 0.25) 100%), url("../img/carrers-banner-bg.webp");
    background-repeat: no-repeat; 
    background-size: cover;
}
.header__banner-left-section{
    color: var(--light-color);
    text-align: left;
    max-width: 470px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: 400;
    overflow-wrap: break-word;
}
.banner-text{
    font-size: 20px;
    font-family: 'Lato', serif;
    color: var(--text-warm-light);
    line-height: 30px;
    margin-top: 30px;
    font-weight: inherit;
}
.banner-title{
    font-family: 'Prata', serif;
    font-weight: 400;
}
.career__info{
    min-width: 320px;
    font-family: "Lato", sans-serif;
    font-size: var(--subtitle-font-size);
}
.career__vacancies{
    display: flex;
    justify-content: space-between;
    color: var(--text-dark);
}
.career__new-stuff-title{
    color: var(--text-cold-light);
    line-height: inherit;
    font-weight: 400;
    font-size: var(--subtitle-font-size);
}
.career__new-stuff-vacancies{
    font-family: "Prata", serif;
    font-size: 18px;
}
.button-wrapper{
    margin-top: 40px;
}

.career__new-stuff-right{
    overflow: hidden;
    object-fit: cover;
    width: 570px;
    height: 351px;
}
.career__new-stuff-left{
    width: 50%;
    height: 100%;
    padding: 30px 0;
}

/* media queries */
@media (min-width: 320px){
    .btn-light{
        padding: 10px 34px;
    }
    .header__banner-wrapper{
        padding: 86px 0;
    }
    .banner-title{
        font-size: 28px;
        line-height: 1.3;
    }
    .career__vacancies{
        flex-direction: column;
        line-height: 1.3;
        padding: 80px 0;
    }

    .career__new-stuff-left{
        width: 100%;
        padding: 0;
    }
    .career__new-stuff-right{
       width: 100%;
       height: 30%;
       margin-top: 50px;
    }
    .career__new-stuff-vacancies{
       margin-top: 30px;
    }
}

@media (min-width: 375px){
    .header__banner-left-section{
        padding: 0;
    }
}

@media (min-width: 425px){
    .career__new-stuff-vacancies{
        margin-top: 20px;

    }
    .banner-title{
        font-size: 30px;
        line-height: 1.5;
    }
    .header__banner-wrapper{
        padding: 90px 0;
    }
    .header__banner-left-section{
        padding: 0;
    }
    .banner-text{
        margin-top: 15px;
    }
}

@media (min-width: 768px){
    .career__new-stuff-right{
        width: 50%;
        margin: 0;
        padding: 0 20px;
    }
    .career__new-stuff-left{
        padding: 0 20px 0 0;
        width: 50%;
    }
    .career__vacancies{
        flex-direction: row;
        padding: 95px 0;
    }
    .career__new-stuff-vacancies{
        font-size: 20px;
        line-height: 1.5;
    }
    .career__new-stuff-title{
        margin-bottom: 20px;
    }
}

@media (min-width: 1024px) {
    .btn-light{
        padding: 13px 37px;
    }
    .career__new-stuff-title{
        margin: 35px 0;
    }
    .career__new-stuff-vacancies{
        margin-bottom: 35px;
    }
    .header__banner-wrapper{
        background-position-y: -2.3rem;
    }
}

@media (min-width: 1200px) {
    .header__banner-wrapper{
        background-position-y: -3.5rem;
    }
}

@supports (-webkit-touch-callout : none) {
    .header__banner-wrapper {
        background-attachment: scroll;
    }
}

@supports not (-webkit-touch-callout : none) {
    .header__banner-wrapper {
        background-attachment: fixed;
    }
}