.footer__logo-image {
  max-width: 260px;
}

.footer__nav {
  padding-top: 90px;
  border-bottom: 1px solid var(--text-variant-grey);
}

.footer__logo,
.footer__follow-title,
.footer__nav {
  margin-bottom: 30px;
}

.footer__schedule,
.footer__first-set-items,
.footer__second-set-items {
  margin-bottom: 50px;
}

.footer__link-element,
.footer__follow-title,
.footer__schedule-item {
  color: var(--light-color);
  font-size: 17px;
}

.footer__rights-content {
  color: var(--light-color);
  font-size: 14px;
}

.footer__nav,
.footer__rights {
  min-width: 100%;
}

.footer__link-element:hover{
  text-decoration: underline;
  cursor: pointer;
}

@media (min-width: 320px) {

  .footer__logo a,
  .footer__logo img {
    display: block;
    margin: 0 auto;
  }

  .footer__schedule-item,
  .footer__link-element,
  .footer__follow-title,
  .footer__rights-content {
    display: block;
    text-align: center;
    padding: 8px 0;
  }

  .footer__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__smm-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    margin-bottom: 30px;
  }

  .footer__rights {
    margin-bottom: 30px;
  }
}

@media (min-width: 767px) {
  .footer__schedule-item, .footer__link-element, .footer__follow-title, .footer__rights-content {
      display: block;
      text-align: left;
      padding: 8px 0;
  }

  .footer__nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }

  .footer__logo-schedule-wrap {
      display: flex;
      flex-direction: row;
      gap: 80px;
  }

  .footer__link-items {
      display: flex;
      flex-direction: row;
      gap: 40px;
  }

  .footer__rights {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
}
