.menu {
    padding: 90px 0;
}

.menu-wrapper-dark .menu {
    color: var(--light-color);
    background: linear-gradient(to right,
            rgba(104, 79, 64, 0.9),
            rgba(104, 79, 64, 0.9)),
        url(../img/menu-background.jpeg) 50% 50% / cover no-repeat;
}

.menu_mainpage .menu {
    color: var(--text-dark);
}

.menu__header {
    text-align: center;
}

.menu__title {
    font-family: "Prata", serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 1.3;
    margin: 0 0 25px;
}

.menu__description {
    font-size: 20px;
    line-height: 1.5;
    color: var(--text-warm-light);
}

.menu_mainpage .menu__description {
    color: var(--text-cold-light);
}

.menu__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: "Prata", serif;
    font-size: 22px;
    line-height: 1.3;
    gap: 15px 30px;
    margin: 60px 0 55px;
}

.menu__link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: var(--light-color);
    opacity: 0.5;
}

.menu_mainpage .menu__link {
    color: var(--text-dark);
}

.menu__link:hover,
.menu__link.active {
    opacity: 1;
    transition: 0.2s;
}

.menu__link::before {
    content: "";
    bottom: -2px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    color: var(--light-color);
    transform: scaleX(0);
    transition: all 0.2s ease-in-out;
}

.menu_mainpage .menu__link::before,
.menu_mainpage .menu__link.active::before {
    color: var(--text-dark);
}

.menu__link:hover::before,
.menu__link.active::before {
    transform: scaleX(1);
    background-color: var(--light-color);
}

.menu_mainpage .menu__link:hover::before,
.menu_mainpage .menu__link.active::before {
    background-color: var(--text-dark);
}

.menu__content {
    max-width: 620px;
    margin: 0 auto 50px;
}

.menu__list,
.menu__item {
    display: flex;
    flex-direction: column;
}

.menu__list {
    gap: 25.5px;
}

.menu__item {
    gap: 15px;
}

.menu__item-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Prata", serif;
    font-size: 22px;
    line-height: 1.3;
}

.menu_mainpage .menu__item-title {
    font-weight: 300;
}

.menu__item-price {
    display: flex;
    flex-grow: 1;
}

.menu__item-price::before {
    content: "";
    min-width: 30px;
    height: 1px;
    background: repeating-linear-gradient(currentColor, transparent 100%);
    opacity: 0.3;
    flex-grow: 1;
    margin: 0.9em 8px 0 18px;
}

.menu__item-btn-buy {
    min-width: 46px;
    height: 46px;
    border-radius: 50%;
    padding: 8px;
    margin: -8px 0 0 4px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.menu__item-btn-buy:hover {
    background: var(--menu-btn-icon-light-hover);
}

.menu_mainpage .menu__item-btn-buy:hover {
    background: var(--menu-btn-icon-dark-hover);
}

.shopping-cart-icon {
    fill: var(--text-warm-light);
    transition: all 0.5s ease-in-out;
}

.menu_mainpage .shopping-cart-icon {
    fill: var(--btn-primary);
}

.menu_mainpage .shopping-cart-icon path {
    fill: var(--btn-primary);
}

.menu_mainpage .shopping-cart-icon .handle-path {
    stroke: var(--btn-primary);
    fill: var(--menu-svg-fill-hover);
}

.menu__item-btn-buy:hover .shopping-cart-icon path {
    fill: var(--text-menu-light);
}

.menu_mainpage .menu__item-btn-buy:hover .shopping-cart-icon path {
    fill: var(--menu-svg-fill-hover);
}

.menu__item-description {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--light-color);
    opacity: 0.5;
}

.menu_mainpage .menu__item-description {
    color: var(--text-dark);
    opacity: 0.5;
}

.menu__download-button {
    display: block;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    color: var(--light-color);
    background: none;
    border: 2px solid var(--light-color);
    border-radius: 25px;
    padding: 12px 35px 10px;
    margin: auto;
    transition: all 0.5s ease;
}

.menu_mainpage .menu__download-button {
    color: var(--text-dark);
    border: 2px solid var(--light-link-hover);
}

.menu__download-button:hover {
    border-color: var(--btn-primary-hover);
    color: var(--btn-primary-hover);
}

.menu_mainpage .menu__download-button:hover {
    border-color: var(--btn-outline-hover);
    color: var(--btn-outline-hover);
}

@media (min-width: 768px) {
    .menu {
        padding: 90px 0 95px;
    }

    .menu__title {
        font-size: 33px;
        margin: 0 0 30px;
    }

    .menu__item {
        gap: 10px;
    }

    .menu__item-description {
        font-weight: 400;
    }
}

@media (min-width: 992px) {
    .menu {
        padding: 90px 0 100px;
    }

    .menu__title {
        font-size: 36px;
        margin: 0 0 30px;
    }

    .menu__buttons {
        margin: 65px 0 60px;
    }

    .menu__content {
        max-width: 1060px;
        margin: 0 auto 55px;
    }

    .menu__list {
        min-height: 350px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 25px;
    }

    .menu__item {
        width: calc(50% - 15px);
    }
}