@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");

.modal-container {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: auto;
  transition: all 800ms ease-in-out;
  z-index: 999;
}

.message-modal {
  background-color: #fff;
  width: 400px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation: slide-up 0.5s ease;
  font-family: "Prata", sans-serif;
  position: relative; 
  z-index: 1000;
}

.close-btn {
  background: transparent;
  color: var(--text-dark);
  font-size: 14px;
  position: absolute;
  top: 12px;
  right: 16px;
  cursor: pointer;
  border: none;
  padding: 0;
  transition: color 0.4s ease-in-out;
}

.close-btn:hover {
  color: var(--error-color);
}

.message-modal h1 {
  margin: 0;
  font-size: 20px;
  max-width: 100%;
  margin-bottom: 20px;
}

.message-modal p {
  font-size: 14px;
  opacity: 0.7;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
