.title {
    font-family: Prata, serif;
    color: var( --text-dark);
    text-align: left;
}
p {
    font-family: Lato, sans-serif;
    color: var(--text-address-light);
}
.primary__container {
    padding: 90px 0;
    display: grid;
}
.about-primary__img {
    width: 100%;
    padding: 0 25px;
}
.about-primary__intro {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    margin-top: 50px;
}
.about-primary__title {
    font-size: 30px;
    line-height: 39px;
    font-weight: 400;
}
.about-primary__text {
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;
    margin-top: 25px;
}
.gallery {
    display: grid;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
        url(../img/dark-image-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.gallery__container { 
    padding: 90px 0; 
    
}
.gallery__title {
    font-size: 30px;
    line-height: 39px;
    font-weight: 400;
    color: var(--text-warm-light);
    text-align: center;
    margin-bottom: 45px;
}
.gallery__images {
    display: grid;
}
.carousel__box {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
}
.wrapper {
    margin: 0 15px;
    width: 100%;
    height: 100%;
}
.gallery__images img {
    width: 100%;
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: bottom;
}
.buttons {
    width: 60%;
    margin: 0 auto;    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(100% / 6);
}
.btn {
    background: none;
    border:none;
    border-radius: 10%;
    font-size: large;
    margin-top: 25px;
    height: 30px;
    width: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn:hover {
    background-color: var(--background-contact-form);
}
.btn-icon {
    color: var(--text-warm-light)    
}
.about-story {
    padding: 90px 0;
}
.about-story__container {
    padding: 0 25px;
}
.about-story__title {
    font-size: 30px;
    line-height: 39px;
    font-weight: 400;
}
.about-story__intro {
    font-family: Prata, serif;
    font-size: 22px;
    line-height: 28.6px;
    font-weight: 400;
    margin-top: 50px;
}
.about-story__text {
    margin-top: 25px;
    line-height: 25.5px;
    font-size: 17px;
}
.about-story__img {
    padding: 30px 0;
}
.about-story__img img {
    width: 100%;
    max-width: 100%;
    height: 141px;
}
.img-1 img {    
    object-fit: cover;
    object-position: 50% 100%;
}
.img-2 img {    
    object-fit: cover;
    object-position: 50% 40%;
}

@media (min-width: 375px) {
    .about-primary__img {
        padding: 0 24px;
    }
    .gallery__images {
        padding: 0 24px;
        gap: 50px;
    }
    .wrapper {
        margin: 0;
    }
    .gallery__images img {
        height: 220px;
    }
    .about-story__img {
        padding: 35px 0;
    }
    .about-story__img img {
        height: 154px;
    }
}

@media (min-width: 425px) {
    .about-primary__img {
        padding: 0 24px;
    }
    .gallery__images {
        padding: 0 24px;
        gap: 50px;
    }
    .gallery__images img {
        height: 252px;
    }
    .about-story__img {
        padding: 35px 0;
    }
    .about-story__img img { 
        height: 190px;
    }
}

@media (min-width:550px) {
    .carousel__box {
        gap: 15px;
    }
    .gallery__images img {
        height: 200px;
    }
    .about-story__img img {
        height: 237px;
    }
}

@media (min-width:700px) {
    .carousel__box {
        width: 90%;
        height: auto;

    }
    .gallery__images {
        display: inline;
    }
    .gallery__images img {
        height: 300px;
    }
    .about-story__img img {
        height: 329px;
    }
}

@media (min-width:768px) {
    .primary__container {
        padding: 95px 17px;
        display: flex;
        flex-direction: row;
    }
    .about-primary__img {
        width: 50vw;
        min-width: 50%;
        padding: 0 15px;
    }
    .about-primary__img img {
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    .about-primary__intro { 
        padding: 0 15px;
        margin: 0px;
    }
    .about-primary__title {
        font-size: 33px;
        line-height: 42.9px;
    }
    .gallery__container {
        padding: 90px 32px;
        display: grid;
    }
    .gallery__title {
        font-size: 33px;
        line-height: 42.9px;
    }    
    .gallery__images {
        padding: 0;
        gap: 30px;
    }
    .about-story__container {
        padding: 0 32px;
    }
    .about-story__title {
        font-size: 33px;
        line-height: 42.9px;
    }
    .about-story__img {
        padding: 32px 0;
    }
    .about-story__img img {
        height: 332px;
    }
}

@media (min-width: 900px) {
    .gallery__images img{
        height: 200px;
    }
    .about-story__img img{
        height: 395px;
    }
}

@media (min-width: 1000px) {
    .primary__container {
        padding: 100px 40px;
        gap: 30px;
    }
    .about-primary__img {
        padding:0;
    }
    .about-primary__intro {
        padding: 0;
    }
    .about-primary__title { 
        font-size: 36px;
        line-height: 46.8px;
    }
    .gallery__container {
        padding: 100px 40px;
        display: grid;
    }
    .gallery__title {
        font-size: 36px;
        line-height: 46.8px;
    }
    .gallery__images {
        width: 100%;
        padding: 0;
        gap: 30px;
    }
    .carousel__box {
        width: 100%;
        gap: 30px;
    }
    .gallery__images img {
        height: 300px;
    }     
    .about-story__container {
        padding: 0 40px;
    }
    .about-story__title {
        font-size: 36px;
        line-height: 46.8px;
    }
    .about-story__img {
        padding: 35px 0;
    }
    .about-story__img img {
        height: 446px;
    }
}

@media (min-width: 1200px) {    
    .about-story__img img {
        height: 540px;
    }
}

@media (min-width:1440px) {
    .primary__container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 100px 0px;
    }
    .gallery__container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 100px 0;
    }
    .carousel__box {
        min-width: 1200px;
    }
    .about-story {
        padding: 0;
    }
    .about-story__container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 100px 0;
    }
    .about-story__img img {
        height: 592px;
    }
}

@supports ( -webkit-touch-callout : none) {
    .gallery {
         background-attachment:scroll;
    }
}

@supports not ( -webkit-touch-callout : none) {
    .gallery {
         background-attachment: fixed;
    }
}