.philosophy {
  background-image: linear-gradient(to left, #10101026, #0f1012),
  url(../img/background-bread-philosophy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 16.85% 55%;
  padding: 133px 0;
  color: var(--light-color);
}
.philosophy__title {
  font-family: 'Prata', serif;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 1.3; 
}
.philosophy__content {
  font-size: 17px;
  line-height: 1.5;
  padding: 0 33px;
}
@media (min-width: 768px) {
.philosophy {
  padding: 157px 0;
}
.philosophy__title {
  font-size: 33px;
  margin-bottom: 20px;
} 
.philosophy__content {
  width: 48.31%;
  padding: 0 37px;
}
}
@media (min-width: 992px) {
.philosophy {
  padding: 190px 0;
 }
.philosophy__title {
  font-size: 36px;
 } 
.philosophy__content {
  padding: 0 45px;
 }
}
@media (min-width: 1200px) {
 .philosophy__content {
   padding: 0 45px;
 }
}
@supports (-webkit-touch-callout : none) {
.philosophy {
  background-attachment: scroll;
 }
}
@supports not (-webkit-touch-callout : none) {
 .philosophy {
   background-attachment: fixed;
  }
}