.recipes-breads {
    background: url("../img/catering-options-background.jpeg") center no-repeat fixed;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    line-height: 1.5;
    letter-spacing: 0px;
    padding: 90px 0;
}

.recipes-breads .recipes-breads__container {
    padding: 0 15px;
}

.recipes-breads__title {
    font-family: 'Prata', serif;
    line-height: 1.3;
    color: var(--text-dark);
    text-align: center;
    margin-bottom: 45px;
    font-weight: lighter;
    font-size: 200%
}

.hero-recipes {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}

.recipe__description {
    background: var(--light-color);
    padding: 20px;
}

.recipe__title {
    font-family: 'Prata', serif;
    font-size: 22px;
    line-height: 1.3;
    margin-bottom: 30px;
    font-weight: lighter;
}

.recipe__time{
    color: #684f40;
}

.recipe__time-prepare {
    display: flex;
    align-items: center;
    gap: 10px;
}

.recipe__clock-picture {
    width: 24px;
    height: 24px;
}

@media (min-width: 768px) {
    .hero-recipes {
        min-width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
    }

    .hero-card {
        grid-row: 1 / span 3;
        grid-column: 1 / 3;
    }
}

@media (min-width: 992px) {
    .hero-recipes {
        min-width: 100%;
        grid-template-columns: 1.25fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }

    .hero-card {
        grid-area: 1 / 1 / 3 / 2;
    }

    .recipe__img {
        height: 246px;    
        object-fit: cover;
    }
    
    .hero-card .recipe__img {
        height: 647px;        
        object-fit: cover;
        object-position: top;
    }    
}

.recipes-breads__link {
    text-align: center;
    margin-top: 60px;
}

.recipe__button{
    font-size: 14px;
    width: 143.212px;
    padding: 10px 30px;
    border-radius: 25px;
    border: 2px solid var(--text-description-accent);
    color:var(--text-description-accent);
}

.recipe__button:hover {
    color: var(--btn-outline-hover);
    border-color: var(--btn-outline-hover); 
}
